@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    background-color: rgb(250, 250, 250);
}

html {
    scroll-behavior: smooth;
}

.logo {
    background-color: transparent;
}

.home {
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 200px;
    display: flex;
}

.home * {
    font-weight: 300;
    font-family: 'Sora';
}

.intro {
    font-size: 36px;
    font-weight: 700;
    color: #2b2b30;
}

.body {
    font-size: 20px;
    color: #6E6E7F;
    margin-top: 30px;
    line-height: 2.5;
    width: 87%;
}

.home-links {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.gmail, .linkedin, .github {
    font-size: 50px;
    color: #6E6E7F;
    transition: color 1s ease;
    transition: scale 1s ease;
}

.gmail:hover {
    color: #EA4335;
    scale: 1.05;
}

.linkedin:hover {
    color: #0A66C2;
    scale: 1.05;
}

.github:hover {
    color: black;
    scale: 1.05;
}

.redword {
    color: rgb(230, 79, 79);
    font-weight: 600;
}

.blueword {
    color: rgb(84, 129, 226);
    font-weight: 600;
}

.strong {
    color: #2b2b30;
    font-weight: 600;
}

.avatar {
    height: 300px;
    width: auto;
    margin-bottom: 100px;
}

.home-img {
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 20px;
}

.arrow-text {
    font-size: 16px;
}

.arrow-link {
    font-family: 'Sora';
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 120px;
    text-decoration: none;
    color: #2b2b30;
    align-items: center;
}