@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1s ease-in, opacity 1s ease-in;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

* {
    background-color: rgb(250, 250, 250);
}

html {
    scroll-behavior: smooth;
}

.logo {
    background-color: transparent;
}

.home {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    display: flex;
}

.home * {
    font-weight: 400;
    font-family: 'Sora';
}

.intro {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #6E6E7F;
    margin-top: 30px;
    width: 90%;
}

.title-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.body {
    font-size: 28px;
    font-weight: 500;
    color: #2b2b30;
    line-height: 2;
    width: 92%;
}

.home-links {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.gmail, .linkedin, .github {
    font-size: 50px;
    color: #6E6E7F;
    transition: color 1s ease, scale 1s ease;
}

.gmail:hover {
    color: #EA4335;
    scale: 1.05;
}

.linkedin:hover {
    color: #0A66C2;
    scale: 1.05;
}

.github:hover {
    color: black;
    scale: 1.05;
}

.redword {
    color: rgb(230, 79, 79);
    font-weight: 600;
}

.italic {
    font-style: italic;
    font-weight: 500;
    margin-right: .7rem;
}

.purpleword {
    color: rgb(138, 99, 255);
    font-weight: 600;
}

.strong {
    color: #2b2b30;
    font-weight: 600;
}

.avatar {
    height: 300px;
    width: auto;
}

.home-img {
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 20px;
}

.arrow-text {
    font-size: 16px;
}

.arrow-link {
    font-family: 'Sora';
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 120px;
    text-decoration: none;
    color: #2b2b30;
    align-items: center;
}