.navbar {
    display: flex;
    top: 0;
    position: fixed;
    flex-direction: row;
    padding: 30px;
    width: 100%;
    border-bottom: 1px solid gray;
    z-index: 20;
    background-color: rgb(255, 255, 255);
}

.navdescription {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.navdescription p {
    text-align: left;
}

.logo {
    position: absolute;
    height: 50px;
    width: 100%;
    right: 45%;
    top: 70px;
    z-index: 50;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-left: auto;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
    color: #0F0F0F;
    padding: 10px;
    border-radius: 10px;
    border-right: 2px solid transparent; 
    border-bottom: 3px solid transparent; 
    transition: border-color 1s ease;
    font-weight: 600;
}

.navbar li a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right-color: rgb(177, 177, 177);
    border-bottom-color: rgb(177, 177, 177);
}