.about {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.about-img img {
    border-radius: 10px;
    box-shadow: 0 0 1px #efeff2;
    background-color: rgb(251, 238, 254);
    padding-top: 30px;
    padding-bottom: 30px;
}
