.about {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.about-img img {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 300px;
    width: auto;
}

.about-intro {
    display: flex;
}

.about-text {
    margin-left: 100px;
}

.about-intro h2 {
    font-size: 24px;
    color: #2b2b30;
    margin-top: 0;
}

.about-intro p {
    line-height: 2;
    font-size: 16px;
    color: #6E6E7F;
    margin-bottom: 30px;
}

.things {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.thing-row1, .thing-row2 {
    display: flex;
}

.thing {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .about {
        width: 320px;
    }

    .about-intro {
        flex-direction: column;
    }

    .about-intro h2 {
        font-size: 24px;
    }
    
    .about-intro p {
        line-height: 2;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .about-text {
        margin-left: 0;
        margin-top: 50px;
    }

    .about-img img {
        border-radius: 0px;
        box-shadow: 0 0 0 #efeff2;
        background-color: transparent;
        padding: 0;
        width: 300px;
        height: auto;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }
}